<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>184495052106-chko81eg45j17v28lf5vfpbjkvo9uldj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.184495052106-chko81eg45j17v28lf5vfpbjkvo9uldj</string>
	<key>API_KEY</key>
	<string>AIzaSyA8J4sxGsSBEmrgYOfRXh0tBKnRLAbOgTo</string>
	<key>GCM_SENDER_ID</key>
	<string>184495052106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oneothergame.7min-abs</string>
	<key>PROJECT_ID</key>
	<string>ab-workout-001</string>
	<key>STORAGE_BUCKET</key>
	<string>ab-workout-001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184495052106:ios:b1b6c6e1fef298e631ddb3</string>
</dict>
</plist>