<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493620055150-uv4m48a7e2ff5p1bn2edvktm2n14k6th.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493620055150-uv4m48a7e2ff5p1bn2edvktm2n14k6th</string>
	<key>API_KEY</key>
	<string>AIzaSyDf7j5lJjMR_hs1c8v6XZ26GkzIoHdFgfk</string>
	<key>GCM_SENDER_ID</key>
	<string>493620055150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oneothergame.7min-abs</string>
	<key>PROJECT_ID</key>
	<string>test-project-33489</string>
	<key>STORAGE_BUCKET</key>
	<string>test-project-33489.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493620055150:ios:9a5d14ccdc29697a</string>
	<key>DATABASE_URL</key>
	<string>https://test-project-33489.firebaseio.com</string>
</dict>
</plist>